:root {
  --colour1: #000814;
  --colour2: #001d3d;
  --colour3: #003566;
  --colour4: #ffc300;
  --colour5: #ffd60a;
}
body {
    background-image: linear-gradient(90deg, #f5f28c, #8ce3f5);
    color: var(--colour1);
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
main {
    position: relative;
    top: 10em;
}
section {
    background-color: var(--colour2);
    color: var(--colour4);
    border-radius: 3em;
    padding: 2%;
    margin: 5%;
    margin-top: 5em;
    box-shadow: 5px 5px;
}
header > nav > a {
    display: inline-block;
    background-color: var(--colour3);
    color: var(--colour5);
    text-decoration: none;
    padding: 0;
    height: 1em;
    width: 5%;
    margin-top: 1em;
    text-align: center;
    margin-left: 30%;
}
nav {
    width: 100%;
    display: inline-block;
    height: 3em;
    background-color: var(--colour3);
    position: fixed;
    top: 0;
    z-index: 3;
}
header {
    margin: 0;
    height: 10em;
}
h1 {
    position: relative;
    top: 5em;
    text-align: center;
}
.date_p{
    text-align: center;
    position: relative;
    top: 9em;
}
table, th, td {
  padding: 1em;
  background-color: var(--colour3);
  border-radius: 2px;
}
table {
    border: none;
    background-color: transparent;
}
td:hover {
    background-color: var(--colour1);
}
address > a {
    color: var(--colour4);
    text-decoration: none;
    padding: 0;
}
nav:hover {
    height: 5em;
}
label {
    display: inline-block;
    width: 100%;
    color: var(--colour5);
    margin-top: 2em;
}
input {
    width: 100%;
    color: var(--colour1);
    border: none;
    height: 2em;
    background-color: #f1e2de;
}
textarea {
    width: 100%;
    color: var(--colour1);
    border: none;
    height: 2em;
    background-color: #f1e2de;
}
button {
    background-color: var(--colour5);
    color: var(--colour1);
    margin-top: 2em;
    width: 10%;
    margin-left: 40%;
    height: 3em;
}
button:hover {
    background-color: var(--colour4);
    border: none;
}
.radio_label {
    display: inline-block;
    width: 100%;
}
.budget_input {
    width: 5%;
    accent-color: #000814;
}
.service_input {
    width: 5%;
    accent-color: #000814;
}
.gdpr_input {
    width: 5%;
    accent-color: #000814;
}
select {
    display: inline-block;
    width: 100%;
    height: 2em;
    color: var(--colour1);
    border: none;
    background-color: #f1e2de;
}
footer {
    margin-top: 20em;
}
fieldset {
    margin-top: 2em;
    border-color: var(--colour5);
}